* {
    margin: 0px;
    padding: 0px;
}

ul {
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: darkgray;
}
ul#menu2 {
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    background-color: darkolivegreen;
}

ul li {
    background-color: teal;
    margin-top: 10px;
    margin-right: 20px;
    width: 80px;
    display: inline;
    font-size: 20px;
    text-align: center;
}

ul li a#pradzia {
    line-height: 80px;
    color: black;
    font-size: 30px;
}

ul#menu2 li {
    background-color: indigo;
    margin-top: 10px;
    margin-right: 20px;
    width: 80px;
    display: inline;
    font-size: 20px;
    text-align: center;
}

ul li:hover {
    cursor: pointer;
    background-color: aqua;
}

ul li a:hover {
    color: black;
}

ul li a {
    line-height: 60px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

h2, h4 {
    padding-left: 100px;
    padding-right: 100px;
    margin-bottom: 30px;
}

atsakymas {
    margin: auto;
    width: 400px;
    font-size: 20px;
    display: block;
}

atsakymas::before {
    content: "Atsakymas: ";
}

form {
    margin-left: 100px;
}